<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>OM | Taste Enlightenment</title>
</head>
<body class="bg">
<header id="home" class="header">
	<div id="main-nav" role="banner">
		<div class="container">
			<nav class="right" role="navigation"  id="site-navigation">
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Shop</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- / END TOP BAR -->
<div class="wrap">
<div class="container">
<div class="om"></div>
<h1 class="intro-text">Taste Enlightenment&#42;</h1>
<button id="orderNow">Order Now</button>
</div>
</div><div class="clear"></div>
</header> 
<div id="content" class="site-content">
		<section class="order-now" id="ordernow">
			<div class="container">
				<div class="section-header">				
					<h1>Order Your Taste...</h2>				
				</div>

<div class="row">
  <div class="form-centered">
    <%= form_for @order do |f| %>
	<fieldset>
	<div class="form-group">
      <label for="firstname"> First Name</label>
      <%= f.text_field :firstname, class:"control", 'required' =>"required" %>
	  
	  <label for="lastname"> Last Name</label>
      <%= f.text_field :lastname, class:"control",'required' =>"required" %>
	  </div>
	  
	  <div class="form-group" >
	  <label for="address"> Address 1</label>
      <%= f.text_field :address1, class:"control",'required' =>"required" %>
	  <label for="address2"> Address 2</label>
      <%= f.text_field :address2, class:"control"%>
	  <label for="city"> City</label>
      <%= f.text_field :city, class:"control", 'required' =>"required" %>
	  <label for="state"> State</label>
      <%=select_tag 'State', options_for_select(us_states),:name=>"state", :class=>"control",:id=>"state"%>
	  </div>
      <label for="email"> E-mail</label>
      <%= f.email_field :email, :class=>"control" %>
		<div class="form-group">
     <label for="cardnumber"> Card Number</label>
      <%= f.number_field :cardnumber, :class=>"control" %>
	  <label for="expire"> Expire Month/Year</label>
      <%= f.month_field :expire, :class=>"control", "maxlength" => 2 %>
	  <label for="cvv"> CVV</label>
      <%= f.password_field :cvv, :class=>"control" %>
	  </div>
	  <div class="form-group">
      <%= f.button "Purchase OM", class: "btn-submit" %>
	  </div>
	  </fieldset>
    <% end %>
  </div>
</div>

</div> 

</section> 

<footer id="footer">
	&#42; All rights reserved for the chosen one. Each order guarantees one taste of enlightenment specifically for the one named in the order form. We recommend you do not name anyone other than yourself, as you will be held responsible for whosoever you designate to be enlightened and any such occurences that shall follow. We are neither liable or responsible if after this taste you have trouble coming back to 'the Real World' as it will be very difficult to buy into the Illusion. Live long and Prosper.
</footer> <!-- / END FOOOTER  -->
</body>
</html>

